.t-diabolo:visited,
.t-diabolo:hover{
	text-decoration: none;
	color: #f42e5b;
}

a:visited,
a:hover{
	text-decoration: none;
}

.menu-rows{
	padding-top: 0.8rem;
}

.carrito{
	margin-right: 0.6rem;
}

.foot-gris{
	color: rgba(255,255,255,0.6);
}

.foot-gris:hover,
.foot-gris:visited{
	color: rgba(255,255,255,0.6);
}

.menu-perfil{
	position: absolute;
	z-index: 9999;
	background-color: #222222;
	border: 2px solid #f42e5b;
	width: 200px;
	padding: 0.5rem 2rem 0.5rem 0.5rem;
	right: 15px;
	margin-top: 10px;
	display: none;
}



.perfil-item{
	margin-bottom: 0.3rem;
}

#toog-button{
	cursor: pointer;
}

.back-sec{
	background-color: rgba(22,22,22,0.8);
}

.mensaje-experiencias{
	margin-top: 50px;
	margin-bottom: 100px;
}

.mensaje-experiencias h2{
	font-size: 1rem;
}

.col-20{
	max-width: 20%;
	text-align: center;
	-ms-flex: 0 0 20%;
	flex: 0 0 20%;
	position: relative;

}

.nav-cuartada{
	padding-top: 10px;
	margin-bottom: 30px
}


.form-config label{
	display: block;
	color: rgba(255,255,255,0.4);
}

.form-config input{
	color: #fff;
	background-color: #000;
	border: none;
	padding: 0.4rem;
}





