@import url('fonts.css');

/*generales*/
body{font-family: 'DIN'; font-weight: normal;}
img{max-width: 100%;}
.t-center{text-align: center;}
.t-right{text-align: right;}
.t-left{text-align: left;}
.f-right{float: right;}
.reset{padding-left: 0;padding-right: 0;}
.show-xs{display: none;}


/*colores*/
.t-diabolo{color: #f42e5b;}
.b-diabolo{background-color: #f42e5b;}
.t-white{color: #fff;}

.boton-d, .boton-in{border: none;border-radius: 2px;padding: 0.3rem 1rem;cursor: pointer;}
.boton-in{border:1px solid #f42e5b; background-color: transparent;}

.back-home{
	background-image: url('../images/back-home.png');
	background-size: cover;
	background-position: center center;
}

.nav-home{
	position: ;
	padding: 1rem 0;
}

.text-home{
	margin-top: 100px;
}

.logo-diabolo{

}

.foot{
	padding-bottom: 1.4rem;
}

.foot div{
	font-size:0.8rem;
	font-weight: 200;
}

.foot-link{
	color: #000;
	text-decoration: underline;
}

.crear-d{
	margin-top: 30px;
}

.crear-d input, .submit-diablura{
	float: left;
	padding: 0.5rem 0.3rem;
	border-radius: 0;
	outline: none;
}

.crear-d input{
	width: 85%;
	float: left;
	cursor: auto;
}

.submit-diablura{
	width: 15%;
	height: 42px;
}

.space-hide{
	width: 100%;
	height: 100px;
}

.crear-t{
	font-size: 1.5rem;
}


/**/

.back-diabolo{
	background-color: #252525;
	background-image: url('../images/back-diabolo.png');
	background-size: cover;
	background-attachment: fixed;
	background-position:bottom center;
	background-repeat: no-repeat;
	min-height: 100vh;
}

.fashion{
	font-family: "fashion";
	font-weight: lighter;
	color: #fff;
}

.caja-select{
	border: 1px solid #f42e5b;
	background-color: #000;
	text-align: center;
	padding: 0.3rem 1rem;
}

.caja-select select{
	border: none;
	background-color: transparent;
	color: #fff;
	width: 100%;
	outline:none;
	color: rgba(255,255,255,0.4);

}

option{
	text-align: center;
}

.separador{
	height: 50px;
}

.no-space{
	margin-bottom: 0;
	margin-top: 0;
}

@media (min-height: 681px) {
	.footer{
		position: fixed;
		bottom: 0;
		right: 0;
		left: 0;
	}
}

@media (min-width: 960px) {
	.back-home{
		min-height: 550px;
	}
}

@media (min-width: 1280px) {
	.back-home{
		min-height: 700px;
	}
}


@media (max-width: 959px) {
	.back-home{
		min-height: 400px;
	}

	.text-home{
		margin-top: 50px;
	}

	.logo-diabolo{
		max-width: 200px;
	}
}

@media (max-width: 575px) {
	.show-xs{
		display: block;
	}

	.hide-xs{
		display: none;
	}
}



/* ////////////////// Perfil //////////////// */
/* ////////////////// Perfil //////////////// */
/* ////////////////// Perfil //////////////// */
.top-esp {
	padding-top: 60px;: 
}

.col-md-2 a {
	font-size: 0.9em;
	color: #fff;
	text-transform: uppercase;
	line-height: 70px;
	text-decoration: none;
}
.col-md-2 a span {
	color: #f42e5b;
	font-size: 1.3em;
}
.back-negro {
	background: rgba(0,0,0,0.3);
	padding: 5px;
}
.back-negro .info-perfil {
	 width: 50%;
    left: 0;
    right: 0;
    margin: auto;
    padding: 30px 0px 17px;
}
.info-perfil .col-md-4 {
	padding: 0px 0px 20px 0px;
}
.info-perfil .col-md-4 img {
	display: block;
    left: 0;
    right: 0;
    margin: auto;
}
.info-perfil .col-md-5 {
	padding: 0;
}
.info-perfil .col-md-5 ul li {
	font-size: 15px;
	color: #fff;
	line-height: 30px;
	list-style: none;
	text-align: left;
	padding: 0;
}
.info-perfil .col-md-5 ul li span {
	color: #f42e5b;
	font-size: 1.6em;
}
.back-negro.col-md-12 {
	top: 30px;
	padding: 10px;
	margin: auto;
}
.back-negro form p {
	font-size: 13px;
	color: #f42e5b;
}
.col-md-6 .datos-perfil {
	padding-bottom: 30px;
}
.back-negro form input {
	width: 100%;
	background: #000;
	border: none;
	height: 40px;
	color: #fff;
	padding-left: 15px;
}
input:focus{
	outline:0px;
}
.boton-form {
	position: relative;
	padding: 5px;
	padding-top: 70px;
	width: 190px;
	left: 0;
	right: 0;
	margin: auto;
	padding-bottom: 30px;
}
.boton-form .boton {
	margin-top: 60px;
	width: 150px;
	color: #fff;
	background: #f42e5b;
	border: none;
	padding: 7px;
	cursor: pointer;
	display: block;
	left: 0;
	right: 0;
	margin: auto;
}
@media screen and (max-width: 414px) {
	.info-perfil .col-md-5 ul {
		margin-top: 0;
    	margin-bottom: 1rem;
    	width: 199px;
    	display: block;
    	margin-left: -20px;
    	text-align: center;
    	padding-left: 0;
    }
}


/* ////////////////// experiencia //////////////// */
/* ////////////////// experiencia //////////////// */
/* ////////////////// experiencia //////////////// */
.listado-experiencias {
	width: 90%;
	position: relative;
	padding: 5px;
	margin: auto;
}
.listado-experiencias p {
	color: #7b7b7b;
	font-size: 13px;
}

.listado-experiencias p span {
	color: #fff;
	font-size: 14px;
}
.listado-experiencias .tex-color {
	color:	#f42e5b;
	font-size: 14px;
}
.listado-experiencias .tex-color .gris {
	font-size: 12px;
	color: #fff;
}
.boton {
	margin-top: 60px;
	color: #fff;
	background: #f42e5b;
	border: none;
	padding: 10px;
	cursor: pointer;
	display: block;
	left: 0;
	right: 0;
	margin: auto;
	font-size: 12px;
}
.fa-caret-down:before {
	color: #f42e5b;
}
.select-experiencia {
	position: relative;
	left: 400px;
}
.btn-toggle {
  margin: 0 4rem;
  padding: 0;
  position: relative;
  border: none;
  height: 1.5rem;
  width: 3rem;
  border-radius: 1.5rem;
  color: #6b7381;
  background: #bdc1c8;
}
.btn-toggle:focus,
.btn-toggle.focus,
.btn-toggle:focus.active,
.btn-toggle.focus.active {
  outline: none;
}
.btn-toggle:before,
.btn-toggle:after {
  line-height: 1.5rem;
  width: 4rem;
  text-align: center;
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity .25s;
}
.btn-toggle:before {
  content: 'Off';
  left: -4rem;
}
.btn-toggle:after {
  content: 'On';
  right: -4rem;
  opacity: .5;
}
.btn-toggle > .handle {
  position: absolute;
  top: 0.1875rem;
  left: 0.1875rem;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 1.125rem;
  background: #fff;
  transition: left .25s;
}
.btn-toggle.active {
  transition: background-color 0.25s;
}
.btn-toggle.active > .handle {
  left: 1.6875rem;
  transition: left .25s;
}
.btn-toggle.active:before {
  opacity: .5;
}
.btn-toggle.active:after {
  opacity: 1;
}
.btn-toggle.btn-sm:before,
.btn-toggle.btn-sm:after {
  line-height: -0.5rem;
  color: #fff;
  letter-spacing: .75px;
  left: 0.4125rem;
  width: 2.325rem;
}
.btn-toggle.btn-sm:before {
  text-align: right;
}
.btn-toggle.btn-sm:after {
  text-align: left;
  opacity: 0;
}
.btn-toggle.btn-sm.active:before {
  opacity: 0;
}
.btn-toggle.btn-sm.active:after {
  opacity: 1;
}
.btn-toggle.btn-xs:before,
.btn-toggle.btn-xs:after {
  display: none;
}
.btn-toggle:before,
.btn-toggle:after {
  color: #f42e5b;;
}
.btn-toggle.active {
  background-color: #f42e5b;
}
.btn-toggle.btn-lg {
    padding: 0;
    position: relative;
    border: none;
    height: 2rem;
    width: 4.5rem;
    border-radius: 2.5rem;
}
.btn-toggle.btn-lg:focus,
.btn-toggle.btn-lg.focus,
.btn-toggle.btn-lg:focus.active,
.btn-toggle.btn-lg.focus.active {
  outline: none;
}
.btn-toggle.btn-lg:before,
.btn-toggle.btn-lg:after {
  line-height: 2.5rem;
  width: 6rem;
  text-align: center;
  font-weight: 100;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity .25s;
}
.btn-toggle.btn-lg:before {
  content: 'Off';
  left: -5rem;
}
.btn-toggle.btn-lg:after {
  content: 'On';
  right: -5rem;
  opacity: .5;
}
.btn-toggle.btn-lg > .handle {
  position: absolute;
  top: 0.3125rem;
  left: 0.3125rem;
  width: 1.30rem;
  height: 1.30rem;
  border-radius: 1.875rem;
  background: #fff;
  transition: left .25s;
}
.btn-toggle.btn-lg.active {
  transition: background-color 0.25s;
}
.btn-toggle.btn-lg.active > .handle {
  left: 2.8125rem;
  transition: left .25s;
}
.btn-toggle.btn-lg.active:before {
  color: #fff;
}
.btn-toggle.btn-lg.active:after {
  opacity: 1;
}
.btn-toggle.btn-lg.btn-sm:before,
.btn-toggle.btn-lg.btn-sm:after {
  line-height: 0.5rem;
  color: #fff;
  letter-spacing: .75px;
  left: 0.6875rem;
  width: 3.875rem;
}
.btn-toggle.btn-lg.btn-sm:before {
  text-align: right;
}
.btn-toggle.btn-lg.btn-sm:after {
  text-align: left;
  opacity: 0;
}
.btn-toggle.btn-lg.btn-sm.active:before {
  opacity: 0;
}
.btn-toggle.btn-lg.btn-sm.active:after {
  opacity: 1;
}
.btn-toggle.btn-lg.btn-xs:before,
.btn-toggle.btn-lg.btn-xs:after {
  display: none;
}
.btn-toggle.btn-sm {
  margin: 0 0.5rem;
  padding: 0;
  position: relative;
  border: none;
  height: 1.5rem;
  width: 3rem;
  border-radius: 1.5rem;
}
.btn-toggle.btn-sm:focus,
.btn-toggle.btn-sm.focus,
.btn-toggle.btn-sm:focus.active,
.btn-toggle.btn-sm.focus.active {
  outline: none;
}
.btn-toggle.btn-sm:before,
.btn-toggle.btn-sm:after {
  line-height: 1.5rem;
  width: 0.5rem;
  text-align: center;
  font-weight: 600;
  font-size: 0.55rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity .25s;
}
.btn-toggle.btn-sm:before {
  content: 'Off';
  left: -0.5rem;
}
.btn-toggle.btn-sm:after {
  content: 'On';
  right: -0.5rem;
  opacity: .5;
}
.btn-toggle.btn-sm > .handle {
  position: absolute;
  top: 0.1875rem;
  left: 0.1875rem;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 1.125rem;
  background: #fff;
  transition: left .25s;
}
.btn-toggle.btn-sm.active {
  transition: background-color 0.25s;
}
.btn-toggle.btn-sm.active > .handle {
  left: 1.6875rem;
  transition: left .25s;
}
.btn-toggle.btn-sm.active:before {
  opacity: .5;
}
.btn-toggle.btn-sm.active:after {
  opacity: 1;
}
.btn-toggle.btn-sm.btn-sm:before,
.btn-toggle.btn-sm.btn-sm:after {
  line-height: -0.5rem;
  color: #fff;
  letter-spacing: .75px;
  left: 0.4125rem;
  width: 2.325rem;
}
.btn-toggle.btn-sm.btn-sm:before {
  text-align: right;
}
.btn-toggle.btn-sm.btn-sm:after {
  text-align: left;
  opacity: 0;
}
.btn-toggle.btn-sm.btn-sm.active:before {
  opacity: 0;
}
.btn-toggle.btn-sm.btn-sm.active:after {
  opacity: 1;
}
.btn-toggle.btn-sm.btn-xs:before,
.btn-toggle.btn-sm.btn-xs:after {
  display: none;
}
.btn-toggle.btn-xs {
  margin: 0 0;
  padding: 0;
  position: relative;
  border: none;
  height: 1rem;
  width: 2rem;
  border-radius: 1rem;
}
.btn-toggle.btn-xs:focus,
.btn-toggle.btn-xs.focus,
.btn-toggle.btn-xs:focus.active,
.btn-toggle.btn-xs.focus.active {
  outline: none;
}
.btn-toggle.btn-xs:before,
.btn-toggle.btn-xs:after {
  line-height: 1rem;
  width: 0;
  text-align: center;
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity .25s;
}
.btn-toggle.btn-xs:before {
  content: 'Off';
  left: 0;
}
.btn-toggle.btn-xs:after {
  content: 'On';
  right: 0;
  opacity: .5;
}
.btn-toggle.btn-xs > .handle {
  position: absolute;
  top: 0.125rem;
  left: 0.125rem;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 0.75rem;
  background: #fff;
  transition: left .25s;
}
.btn-toggle.btn-xs.active {
  transition: background-color 0.25s;
}
.btn-toggle.btn-xs.active > .handle {
  left: 1.125rem;
  transition: left .25s;
}
.btn-toggle.btn-xs.active:before {
  opacity: .5;
}
.btn-toggle.btn-xs.active:after {
  opacity: 1;
}
.btn-toggle.btn-xs.btn-sm:before,
.btn-toggle.btn-xs.btn-sm:after {
  line-height: -1rem;
  color: #fff;
  letter-spacing: .75px;
  left: 0.275rem;
  width: 1.55rem;
}
.btn-toggle.btn-xs.btn-sm:before {
  text-align: right;
}
.btn-toggle.btn-xs.btn-sm:after {
  text-align: left;
  opacity: 0;
}
.btn-toggle.btn-xs.btn-sm.active:before {
  opacity: 0;
}
.btn-toggle.btn-xs.btn-sm.active:after {
  opacity: 1;
}
.btn-toggle.btn-xs.btn-xs:before,
.btn-toggle.btn-xs.btn-xs:after {
  display: none;
}
.btn-toggle.btn-secondary {
  color: #6b7381;
  background: #bdc1c8;
}
.btn-toggle.btn-secondary:before,
.btn-toggle.btn-secondary:after {
  color: #6b7381;
}
.btn-toggle.btn-secondary.active {
  background-color: #ff8300;
}

@media screen and (max-width: 1200px) {
	.select-experiencia {
		left: 0;
    	right: 0;
    	margin: auto;
	}
}


/* //////////////////// experiencia resumen //////////////// */
/* //////////////////// experiencia resumen //////////////// */

.experiencia-menu {
  color: #fff;
  font-size: 14px;
  padding-top: 30px;
}
.experiencia-cont {
  padding: 25px 0px 25px 0px;
  border-bottom: solid 1px #000;
  margin-left: 0;
}

.experiencia-cont p {
  color: #fff;
  font-size: 14px;
  padding-top: 40px;
}

.experiencia-cont div a {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  padding-top: 40px;
  display: block;
}
.exp-total {
   margin-top: 100px;
    color: #fff;
    position: relative;
    margin-left: auto;
    padding-bottom: 40px;
}
.exp-total p {
  padding-top: 5px;
}
.exp-total input {
  left:0;
  right: 0; 
  margin: auto;
  position: relative;
}
.exp-numero {
  width: 70px;
}

/* //////////////////// envio //////////////// */
/* //////////////////// envio //////////////// */
/* //////////////////// envio //////////////// */

.envio {
  color: #fff;
  padding-top: 15px;
  padding-bottom: 30px;
}
.tit-envio {
  width: 100%;
  border-bottom: solid 2px #000;
  padding-left: 30px
}
.formulario-envio {
  padding-top: 5px;
}
.formulario-envio p {
  color: #7a7a7a;
  margin-bottom: 5px;
  font-size: 14px;
}
.formulario-envio .col-md-6 {
  padding-top: 20px;
}
.formulario-envio .col-md-12 {
  padding-top: 20px;
}
.formulario-envio .col-md-6 input {
  width: 100%;
  background: #000;
  border: none;
  height: 40px;
  padding-left: 10px;
  color: #fff;
}
.formulario-envio select {
  width: 100%;
  background: #000;
  border: none;
  height: 40px;
  padding-left: 10px;
  color: #fff;
}
input::placeholder { 
  color: #fff; 
}
select:focus{
  outline:0px;
}
.envio-boton{
  position: relative;
    display: block;
    padding-top: 50px;
    left: 85%;
}

@media screen and (max-width: 770px) {
  .envio-boton {
    left: 0;
    right: 0;
    margin: auto;
  }
}
@media screen and (max-width: 414px) {
  .envio-boton {
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 10px;
  }
}
/* //////////////////// terminosycondiciones //////////////// */

.terminosycondiciones {
    margin-top: 40px; 
    padding: 30px 30px 20px 30px;
    background: #000;
    margin-bottom: 50px;
} 
.terminosycondiciones p {
  color: #fff;
  font-size: 12px;
}
.aviso {
    margin-top: 40px; 
    padding: 30px 30px 20px 30px;
    background: #000;
    margin-bottom: 50px;
} 
.aviso p {
  color: #fff;
  font-size: 12px;
  text-align: justify;
  text-transform: uppercase;
}
























